<md-card>
  <md-card-header>
    <md-card-title>
      <h1>Login</h1>
    </md-card-title>
  </md-card-header>
  <form novalidate [formGroup]="loginForm" (submit)="submitForm(loginForm)">
    <md-card-content>
      <md-input-container class="full-width">
        <input type="text" mdInput
          placeholder="Username"
          formControlName="username">
      </md-input-container>
      <md-input-container class="full-width">
        <input type="password" mdInput
          placeholder="Password"
          formControlName="password">
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button type="submit" md-button>Login</button>
      <button type="button" md-button (click)="resetForm()">Cancel</button>
    </md-card-actions>
  </form>
</md-card>