<div>

  <app-widgets-list
    class="col-50"
    [widgets]="widgets"
    (selected)="selectWidget($event)"
    (deleted)="deleteWidget($event)">
  </app-widgets-list>

  <app-widgets-details
    class="col-50"
    [selectedWidget]="selectedWidget"
    (saved)="saveWidget($event)"
    (cancelled)="cancel($event)">
  </app-widgets-details>

</div>
