<md-card>

  <md-card-header>
    <md-card-title>
      <h1>Items Search</h1>
    </md-card-title>
  </md-card-header>

  <md-card-content>
    <md-input-container class="full-width">
      <input mdInput #itemsSearch
             placeholder="Search Items" type="text" name="search">
    </md-input-container>
  </md-card-content>

</md-card>