<md-card>
  <md-card-header>
    <md-card-title>
      <h1>{{ name }}</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let todo of todos">
        <h3 md-line>{{ todo }}</h3>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>