<md-card>
  <md-card-header>
    <md-card-title>
      <h1>
        <span *ngIf="widget.id; else prompt">
          Editing {{ origWidget.name }}
        </span>
        <ng-template #prompt>Select a Widget</ng-template>
      </h1>
    </md-card-title>
  </md-card-header>

  <form #myForm="ngForm" (submit)="saved.emit(widget)">
    <md-card-content>
        <!-- widget name -->
        <md-input-container class="full-width">
          <input required
            mdInput
            placeholder="Name"
            [(ngModel)]="widget.name"
            type="text" name="name">
        </md-input-container>
        <!-- widget description -->
        <md-input-container class="full-width">
          <input required
            mdInput
            placeholder="Description"
            [(ngModel)]="widget.description"
            type="text" name="description">
        </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button type="submit" [disabled]="!myForm.valid"
        md-button>Save</button>
      <button type="button" md-button
        (click)="cancelled.emit(widget)">
        Cancel
      </button>
    </md-card-actions>
  </form>
  <hr>
  <pre>{{ myForm.value | json }}</pre>
  Valid? {{ myForm.valid }}

</md-card>