<div class="container">
  <app-item-detail class="col-50"
                   [item]="item"
                   (saved)="saveItem($event)"
                   (cancelled)="cancel($event)">
  </app-item-detail>
</div>