<div class="container">
  <div class="col-50">
    <app-items-search (results)="handleResults($event)"></app-items-search>
    <app-items-list [items]="items" [readonly]="true"></app-items-list>
  </div>

  <div class="col-50">
    <app-login></app-login>
    <app-widgets></app-widgets>
  </div>
</div>
